.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/F5006288/sources/s-85E15257/4DD21E53
.Rhistory
.DS_Store
.Rproj.user/F5006288/sources/prop/140C979A
*.pper
.Rproj.user/F5006288/sources/prop/140C979A
